body {
    background-color: rgb(100, 240, 210);
}

.a {
    text-align: center;
    font-size: 75px;
    color: rgb(150, 20, 20);
    font-family: Forte;
}

.b {
    text-align: center;
    width: 680px;
    height: auto;
    border-radius: 100px;
}

.c {
    text-align: right;
    font-size: 30px;
    color: rgb(10, 41, 76);
    font-family: Franklin Gothic Heavy;
}

.d {
    text-align: right;
    font-size: 20px;
    font-family: mj_advertising;
    color: rgb(0, 0, 0);
}