body{
    margin: 0;
    background-color: #3d2727;
}
.header {
    font-family: Roboto;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    width: 100%;
    height: 10%;
    margin: 0 auto;

}

.header1 {
    background: #d8aaaa;

}

.header2 {
    color: rgb(255, 0, 0);
    text-align: center;
    margin: 0;
    font-size: 30px;

}

.header3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header3 a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #4c4343;
    font-weight: 500;
    transition: transform 0.2s ease;
}

.header3 a:hover {
    transform: scale(1.2);
}

body {
    background-color: rgb(100, 240, 210);
}

.a {
    text-align: center;
    font-size: 75px;
    color: rgb(150, 20, 20);
    font-family: Forte;
}

.b {
    text-align: center;
    width: 80%;
    height: auto;
    border-radius: 100px;
}

.c {
    text-align: right;
    font-size: 30px;
    color: rgb(10, 41, 76);
    font-family: Franklin Gothic Heavy;
}

.d {
    text-align: right;
    font-size: 20px;
    font-family: mj_advertising;
    color: rgb(0, 0, 0);
}

.gadval {
 
    margin: 12px auto;
    background-color: rgb(229, 235, 129);
    width: 99%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    font-family: mj_advertising;
    direction: rtl;
    color: #5d5a5a;
    text-align: center;
}

.gadval h1 {
    text-align: center;
    color: #d00000;
}

.gadval a {
    display: inline-block;
    text-decoration: none;
    background-color: #d00000;
    color: white;
    padding: 12px 35px;
    border-radius: 8px;
    margin: 0 12px 30px 12px;
    transition: all 0.2s ease;
}

.gadval a:hover {
    transform: scale(1.2);
    background-color: #3d2727;
    color: #fffacd;
}